<!DOCTYPE html>
<html>
  <head><title><%= title %></title></head>
  <body>
    <div>
    <h1><%= restaurantName%></h1>
     <img src="<%= restaurantLogo %>" style='width:20%' alt="Pizza">
	<p><a href="<%= restaurantLink %>" class="btn btn-primary" role="button">Yelp Link</a></p>
    </div>
    <h2>Dear: <%= user%></h2>
  </body>
</html>

